.log-box{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 50%;
     width: 50%;          
}

.inputs{
     display: flex;
     flex-direction: column;
}

.inputs div{
     margin-top: 2px;
     margin-bottom: 2px;
}
